<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>Account</title>
</head>
<body>
<nav class="nav-bar">
    <div class="nav-logo">
        <a href="/dash<%=role%>"><img src="/assets/home.png"></a>
    </div>
    <div class="nav-list">
        <ul>
            <li><a href="/browse">Browse</a></li>
            <li><a href="/insights">Insights</a></li>
            <li><a href="/musicplayer">MusicPlayer</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </div>
</nav>
<div class="account">
    <div class="left-container">
        <div class="user-pic">
            <img src="/assets/UHseal.png">
        </div>
        <div class="user-details">
            <ul>
                <li class="user-title"><%= userfname%> <%= userlname%></li>
                <li><%= useremail%></li>
                <li>Account Type: <%= usertype%></li>
                <li>Joined: <%= userdate.slice(1)%></li>
            </ul>
        </div>
    </div>

    <div class="right-container">
        <div class="right-top-container">
            <h1 class="account-title">Update Account Info</h1>
            <div class="errors">
                <ul>
                    <% if(messages.success_msg) { %>
                    <li><%= messages.success_msg %></li>
                    <% } %>
                </ul>
                <ul>
                    <% if(messages.error) { %>
                    <li><%= messages.error %></li>
                    <% } %>
                </ul>
            </div> 
        </div>

        <div class="right-bottom-container">
            <div class="form-left">
                <form action="/account" method="POST">
                    <div class="account-title">Update Name</div>
                    <div>
                        <h2>First Name</h2>
                        <input
                            type="text"
                            id="fname"
                            name="fname"
                            placeholder=<%= userfname%>
                        required>
                    </div>
                    <div>
                        <h2>Last Name</h2>
                        <input
                            type="text"
                            id="lname"
                            name="lname"
                            placeholder=<%= userlname%>
                        required>
                    </div>
                    <div>
                        <input
                            type="submit"
                            value="Submit"
                            class="auth_button login_button">
                    </div>
                </form>
            </div>
            
            <div class="form-right">
                <form action="/account" method="POST">
                    <div class="account-title">Update Email</div>
                    <div>
                        <h2>Email</h2>
                        <input
                            type="email"
                            id="email"
                            name="email"
                            placeholder=<%= useremail%>
                        required>
                    </div>
                    <div>
                        <input
                            type="submit"
                            value="Submit"
                            class="auth_button login_button">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>