<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>Dashboard</title>
</head>
<body>
    <nav class="nav-bar">
        <div class="nav-user">
            <h1>Hello, <%= user.charAt(0).toUpperCase() + user.slice(1) %></h1>
        </div>      
        <div class="nav-list">
            <ul>
                <li><a href="/browse">Browse</a></li>
                <li><a href="/musicplayer">MusicPlayer</a></li>
                <li><a href="/uploadmusic">Upload Music</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
    </nav>
    
    <h2 class="text-color"><%= user.charAt(0).toUpperCase() + user.slice(1) %> Library</h2>
        <% for(var i = 0; i < pcount; i++) { 
            var sname = ''
            var sink = ''
            %>
            <div class="big-container">
            <table class="tablecontainer"> 
            <th class="playlist-header">
                  <%= playlist[i].playlist_name %> <button>+</button>
                    <tr>
                        <% test[i].forEach(d=> {
                            if (d.split("://")[1] != undefined)
                               sink = d.split("://")[1]
                            if (d.split('https')[0] != ' ')
                               sname = d.split('https')[0]
                            if(sink != undefined) {
                                 %>
                            <td class="text-color"><a href='<%= "https://".concat(sink) %>' target="blank"><%= sname %></a></td>

                            <% } %>
                        </tr>
                  </th>
                          
           <% }); %>
        </tr>
  </th>
        <% } %>
            </table>
        </div>
</body>
</html>