<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>Dashboard</title>
</head>
<body>
    <nav class="nav-bar">
        <div class="nav-user">
            <h1>Hello, <%= user.charAt(0).toUpperCase() + user.slice(1) %></h1>
        </div>      
        <div class="nav-list">
            <ul>
                <li><a href="/browse">Browse</a></li>
                <li><a href="/musicplayer">MusicPlayer</a></li>
                <li><a href="/uploadmusic">Upload Music</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
    </nav>
    
    <h2 class="text-color"><%= user.charAt(0).toUpperCase() + user.slice(1) %> Library</h2>
        <% for(var i = 0; i < pcount; i++) { %>
            <div class="big-container">
            <table class="tablecontainer"> 
            <th class="playlist-header">
                  <%= playlist[i].playlist_name %> <button>+</button>
                    <tr>
                        <% b = 0 %>
                        <% test[i].forEach(d=> { %>
                        <% songlink = test2[i] %>
                            <td class="text-color">
                                <a href='<%= songlink[b] %>' target="blank"><%= d %></a>
                                <button class="button-align-right">-</button>
                                <button class="button-align-right">Info</button>
                            </td>
                            <% b += 1 %>
                    </tr>
            </th>   
            <% }) %>
        <% } %>
        </table>
        </div>
</body>
</html>